extends layout
block header

block content
    h4=result.boardTitle
    h4=result.boardContent
    h4=result.boardEmail
    h4=result.boardTime
    h4=result.boardViewsCount
    h4=result.category_name
